<html>
<head>
	<title>EHHapp Formulary Updater</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
	<div class="container" id="g">
		<div class="header">
			<h3 class="text-muted">Select Matching Medications</h3>
		</div>
		<hr/> <!--border-->

		<!--<form role="form" method="post" action="/output" enctype="multipart/form-data">-->
			<div class="container data-container">
				{% for k, v in fuzzymatches.items() %}
				<div id="fuzzymatches">
				    <label>
				    	<input type="checkbox" name="matches" value="{{fuzzymatches[k]}}"><span>"{{v.MD_NAMEDOSE}}" is "{{v.INV_NAMEDOSE}}"</span>
			    	</label>
				</div>
				{% endfor %}
			</div>
			<br>

			<!--
			screen_output
			pricetable_unmatched_meds
			-->

			<!--
			<div class="form-group">

				<p class="text-center">
					<input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Submit" />
				</p>
			-->
				<script>
				/*
				function getHttpRequest() {
				    var xmlhttp;
				    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
				        xmlhttp=new XMLHttpRequest();
				    } else {// code for IE6, IE5
				        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
				    }
				    return xmlhttp;
				}*/
				function demoRequest() {
					/*
					var output_filename_list = {{ output_filename_list|safe }};
					var pricetable_unmatched_meds = {{ pricetable_unmatched_meds|safe }};
					var screen_output = {{ screen_output|safe }};
					$.ajax({
						type: "POST",
						url: "http://0.0.0.0:5050/result",
						contentType: "application/x-www-form-urlencoded",
						data: data
						  crossDomain:true, 
						success: function() { window.location.href = "http://0.0.0.0:5050/result"},
						error: function(data) {console.log(data); },
						dataType: 'json',
						beforeSend: function (xhr) {
						            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
						        },
						        headers: {
						            'Access-Control-Allow-Origin': '*'
						        }
						});*/
					
		      var request = new XMLHttpRequest();

					callback(window.location="http://0.0.0.0:5050/result");
					request.open("POST",'http://0.0.0.0:5050/result');

					request.setRequestHeader('Content-Type', 'application/json');
					request.onload = function() {
						console.log('sent!');
						$(this).html('<p> Your article was successfully added!</p>');
						};

					var output_filename_list = {{ output_filename_list|safe }};
					var pricetable_unmatched_meds = {{ pricetable_unmatched_meds|safe }};
					var screen_output = {{ screen_output|safe }};

					var data_to_flask= {};
					data_to_flask["is_fuzzy_match_selected"]=true;
					data_to_flask["output_filename_list"]=output_filename_list;
					data_to_flask["pricetable_unmatched_meds"]=pricetable_unmatched_meds;
					data_to_flask["screen_output"]=screen_output;
					data = JSON.stringify(data_to_flask);

					request.send(data);
				}

			</script>
			<div class="text-center">
				<button action="/result" class="btn btn-primary" onclick="demoRequest()" id="submit" value="Submit">Submit</button>
			</div>
		<!--</form>-->
	</div>
</body>
</html>