<html>
<head>
	<title>EHHapp Formulary Updater</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
	<div class="container" id="g">
		<div class="header">
			<h3 class="text-muted">Select Matching Medications</h3>
		</div>
		<hr/> <!--border-->

		<form role="form" method="post" action="/result" enctype="multipart/form-data">
			<div class="container data-container">
				{% for k, v in fuzzymatches.items() %}
				<div id="fuzzymatches">
				    <label>
				    	<input type="checkbox" name="usermatches" value="{{v.MD_NAMEDOSE}}:{{v.MD_PRICE}}:{{v.INV_NAMEDOSE}}:{{v.INV_PRICE}}:{{v.INV_ITEMNUM}}"><span>"{{v.INV_NAMEDOSE}}" is "{{v.MD_NAMEDOSE}}"</span>
			    	</label>
				</div>
				{% endfor %}
			</div>
			<br>
			
			<p class="text-center">
				<input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Submit" />
			</p>
		</form>
	</div>
</body>
</html>