<html>
<head>
  <title>EHHapp Formulary Updater</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
  pre {
    line-height: 90%;
  }
  </style>
</head>

<body>
  <div class="container">

    <div class="header">
      <h3 class="text-muted">Comparision Results</h3>
    </div>
    <hr/> <!--border-->
    <div>
      <div class="header">
        <h4 class="text-muted">Output Files</h4>
        <p>Click to download files.</p>
      </div>
      <ul>
        {% for file in output_filename_list %}
          <li><a href="{{url_for('output_file', filename=file)}}">{{file}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="header">
      <h4 class="text-muted">Match Summary</h4>
    </div>
    <pre>
      {% for output in screen_output %}
      {{output}}
      {% endfor %}
    </pre>

    <div class="header">
      <h4 class="text-muted">Invoice Medications Without Matches</h4>
    </div>
    <pre>
      {% for med in pricetable_unmatched_meds %}
      {{med}}
      {% endfor %}
    </pre>

    </div>
  </div>
</body>
</html>